/** .el-dialog__body{
	padding:10px 20px;
}**/
.el-dialog__header{
	padding:0px 20px 0px 20px;
	line-height: 40px;
	background-color: #f8f8f8;
	border-bottom:1px solid #ccc;
}
.el-dialog__body{
	padding: 20px 20px;
}
.dialog_gobackup.el-dialog{
	width:420px;
}
.el-dialog{
	width:700px;
}
.el-loading-mask{z-index:2000;}
.my-d-h .el-dialog__header{
    position: absolute;
    top: -30px;
    right: -30px;
    float:right;
    width:60px;
    height:60px;
    padding: 0px 20px 0px 20px;
    padding: 0;
    background-color: #ee5567;
    border-bottom: 0px none;
    text-align:center;
    border-radius:50%;
}
.my-d-h .el-dialog--small{
    border-radius:20px;
    // border:3px solid #109bff;
    box-shadow: 0 0 35px #000;
}
.my-d-h .el-dialog__header .el-dialog__headerbtn{
    float: none; 
}
.my-d-h .el-dialog__header .el-dialog__headerbtn  i{font-size: 26px;
    color:#fff;
    height:60px;
    width:60px;
    line-height: 60px;
    border-radius:50%;
}
.my-d-h .el-dialog__header :hover{
    transform: scale(1.1);
}
/*********下拉选项dropdown************/ 
.el-dropdown-menu__item{
    line-height: 40px;
    font-size: 18px;
}
/******日期插件*********/ 
.el-date-picker{
    min-width: 320px;
}
.el-picker-panel{line-height: 30px;}
.el-month-table, .el-year-table,.el-date-table{
    font-size: 16px;
}
.el-date-picker__header-label{font-size: 16px;}
.el-picker-panel__icon-btn{font-size: 18px;}
/**************结构树***************/ 
.el-tree--highlight-current>.el-tree-node>.el-tree-node__content .el-button{
    display:none;
}
.el-tree-node__content:hover{
    background: none;
}
.el-tree-node__children .el-tree-node.is-current>.el-tree-node__content{
    background-color: #1ab297;
    color:#fff;
}
.el-tree-node__children .el-tree-node.is-current>.el-tree-node__content .el-button{
    display:none;
}