/**
 * Print stylesheet for yourwebsite.com
* @version         1.0
* @lastmodified    16.06.2016
*/

@media print {
    body {
        width:220mm;
        height:150mm;
        overflow-y: auto;
    }
    /** Setting margins */       
    @page { 
        margin: 2cm;
        size: A4;
    }
    #page {
        border:1px solid black;
        width:210mm;
        height:297mm;
        background: #FFFFFF;
    }
    div{
        margin-left:30px;
    }
    h1{
        font-weight: 900;
        padding-top: 30px;
    }
    #info{
       height: 80px;
       white-space: pre-wrap;
       width: 750px;
    }
    #youImg{       
        width: 400px;
    height: 480px;
    float: left;     
    }
    #zuoImg{   
        width: 400px;
        float: left;
        height: 500px;
    }
    #remarksDIV{
       float: left;
        width: 1342px;
    }
    #remarks{      
        width: 400px;
    float: left;
    }
    #tuli{
        float: right;
    }    
   
    #foot { 
        float: right;
    }

    td {
       text-align:center;
    }
}
