/********提示消息标题*******/ 
.el-message-box__header{
	padding: 0px;
	background-color: #f8f8f8;
	overflow: hidden;
	border-bottom:1px solid #ccc;
}
.el-message-box__header .el-message-box__title{
	float: left;
	margin-left: 20px;
	color:#666;
}
.el-message-box__header,.el-message-box__header .el-message-box__title,.el-message-box__header i{
	line-height: 40px;
	height: 40px;
}
/********提示消息X*******/ 
.el-message-box__header i{
	float: right;
	top:0px;
	color:#bfcbd9;
}
/********提示消息内容*******/ 
.el-message-box__content{
	font-size: 16px;
	padding:30px 20px 20px 20px;
}
/******message的提示*****/ 
.msgTipsErr{
	font-size: 40px;
	color:#e74c3c;
}
.msgTipsSuccess{
	font-size: 40px;
	color:#12cd6d;
}
div.el-message{
	z-index:10000 !important;
	background-color: #fff;
	border:1px solid #ccc;
}
div.el-message__group p{
	line-height:40px;
	font-size: 20px;
	color:#000;
}
.el-message__group{
    height:40px;
    line-height: 40px;
}