/**
 * @file icon.css
 */

@font-face {
    font-family: "fonteditor";
    src: url("fonteditor.eot"); /* IE9 */
    src: url("fonteditor.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("fonteditor.woff") format("woff"), /* chrome、firefox */
    url("fonteditor.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("fonteditor.svg#uxfonteditor") format("svg"); /* iOS 4.1- */
}


.icon {
    font-family: "fonteditor" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-a:before {
  content: "\61";
}

.icon-b:before {
  content: "\62";
}

.icon-c:before {
  content: "\63";
}

.icon-d:before {
  content: "\64";
}

.icon-e:before {
  content: "\65";
}

.icon-f:before {
  content: "\66";
}

.icon-i:before {
  content: "\69";
}

.icon-j:before {
  content: "\6a";
}

.icon-k:before {
  content: "\6b";
}

.icon-l:before {
  content: "\6c";
}

.icon-m:before {
  content: "\6d";
}

.icon-n:before {
  content: "\6e";
}

.icon-o:before {
  content: "\6f";
}

.icon-p:before {
  content: "\70";
}

.icon-q:before {
  content: "\71";
}

.icon-r:before {
  content: "\72";
}

.icon-s:before {
  content: "\73";
}

.icon-t:before {
  content: "\74";
}

.icon-u:before {
  content: "\75";
}

.icon-v:before {
  content: "\76";
}

.icon-w:before {
  content: "\77";
}

.icon-x:before {
  content: "\78";
}

.icon-y:before {
  content: "\79";
}

.icon-z:before {
  content: "\7a";
}

.icon-four:before {
  content: "\34";
}

.icon-five:before {
  content: "\35";
}

.icon-six:before {
  content: "\36";
}

.icon-seven:before {
  content: "\37";
}

.icon-zero:before {
  content: "\30";
}

.icon-one:before {
  content: "\31";
}

.icon-two:before {
  content: "\32";
}

.icon-three:before {
  content: "\33";
}

.icon-nine:before {
  content: "\39";
}

.icon-comma:before {
  content: "\2c";
}

.icon-period:before {
  content: "\2e";
}

.icon-h:before {
  content: "\68";
}

.icon-g:before {
  content: "\67";
}

.icon-eight:before {
  content: "\38";
}



